body{ 
    font-family: Verdana, sans-serif; 
    background-color: #021b39;
}

.dd{
    background-color: #021b39;
    color: white;
}
.dd:hover{
    background-color: #021b39;
    color:yellow;
}

np{
    padding-bottom: 200px;
}

.img-fluid{
    border-radius: 10px;
}

.container{
    border-radius: 10px;
    color:#021b39;
}

.carousel-inner{
    width: 1400px; 
    height: 600px; 
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    box-shadow: #021f42;
    box-shadow: 0px 20px 30px 20px rgba(0, 0, 0, 0.5); 
}

.carousel-inner img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .carousel-inner img {
        height: 200px; 
    }
}

.cont {
    display: flex;
    justify-content:space-between;
    align-content: center;
    padding: 7px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 10px;
    background-color: #021b39;
}

.admcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 10px;
    background-color: #021b39;
    max-width: 1200px;
    width: 100%;
}

.striped-rows tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}
.striped-rows tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.btn{
    background-color: #021b39;
    border: none;
    color:#faf7f6;
    font-size: 15px;
}
.btn:hover{
    background-color: #021b39;
    color:yellow;
}

.btnn{
    width: 180px;
    margin-left: 12px;
}

.logo{
    height:55px;
    width: 200px;
    padding-right: 20px;
}

.movie-card {
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 10px; 
    transition: transform 0.6s ease; 
    background-color: rgb(0, 0, 0); 
    margin-bottom: 20px;
    height: 470px;
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
    
}

.movie-card:hover {
    transform: scale(1.02); 
    color: yellow;
}

.movie-image {
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center ;
    border-radius: 5px; 
    box-shadow: inset 20 20 10px rgba(0, 0, 0, 0.5)
    
}

.movie-details {
    text-align: center; 
}


#profile-container{
    display: flex;
    margin-left: 15px;
}


@media only screen and (max-width: 300px) {
  .text { font-size: 7px; }
}


.btn-no-bg {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}