<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
<body>
        <nav>
            <div class="cont">
                <div class="btn-group">
                    <div class="logo">
                        <button class="btnn"><img src="{{ url_for('static', filename='logo3.png') }}" id="home-admin" class="logo"></button>
                    </div>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Movie Manager
                    </button>
                    <ul class="dropdown-menu dd" aria-labelledby="dropdownMenuButton">
                        <li><a id="add-movie" class="dropdown-item dd" href="#">Add Movie</a></li>
                        <li><a id="update-movie" class="dropdown-item dd" href="#">Update Movie</a></li>
                    </ul>

                    <div class="dropdown btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="scheduleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Schedule
                        </button>
                        <ul class="dropdown-menu dd" aria-labelledby="scheduleDropdown">
                            <li><a id="add-schedule" class="dropdown-item dd" href="#">Add Schedule</a></li>
                            <li><a id="update-schedule" class="dropdown-item dd" href="#">Update Schedule</a></li>
                        </ul>
                    </div>

                    <div class="dropdown btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="scheduleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Transaction
                        </button>
                        <ul class="dropdown-menu dd" aria-labelledby="transaction-dropdown">
                            <li><a id="confirm-topup" class="dropdown-item dd" href="#">confirm topup</a></li>
                            <li><a id="report" class="dropdown-item dd" href="#">report</a></li>
                        </ul>
                    </div>
                    
                </div>

                <div class="btn-group">
                    <form class="form-inline" action="/search" method="GET" id="search-form" style="padding-top: 10px;">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-input" name="query" required>
                    </form>
                    <button class="btn" type="submit" form="search-form">
                        <i class="fas fa-search fa-xl"></i>
                    </button>

                    <div class="dropdown btn-group" id="profile-container">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-user fa-xl"></i>
                        </button>
                        <ul class="dropdown-menu dd" aria-labelledby="profile">
                            <li><a class="dropdown-item dd" href="#" id="register">Register</a></li>
                            <li><a class="dropdown-item dd" href="#" id="profile">Profile</a></li>
                            <li><a class="dropdown-item dd" href="#" id="settings">Settings</a></li>
                            <li><a class="dropdown-item dd" href="#" id="login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <section>
            <div class="container mx-auto mt-5">
                <div class="flex justify-center">
                    <div class="w-full">
                        <div class="bg-white p-8 rounded-lg shadow-lg">
                            <h3 class="text-2xl font-semibold text-center mb-4">Transaction Report</h3>
                            <div class="overflow-x-auto">
                                <table class="min-w-full bg-gray-800 rounded-lg shadow-md">
                                    <thead>
                                        <tr>
                                            <th class="py-2 px-4 bg-gray-700 text-gray-200">ID</th>
                                            <th class="py-2 px-4 bg-gray-700 text-gray-200">Username</th>
                                            <th class="py-2 px-4 bg-gray-700 text-gray-200">Movie</th>
                                            <th class="py-2 px-4 bg-gray-700 text-gray-200">Date</th>
                                            <th class="py-2 px-4 bg-gray-700 text-gray-200">Quantity</th>
                                            <th class="py-2 px-4 bg-gray-700 text-gray-200">Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        {% for transaction in transactions %}
                                        <tr class="hover:bg-gray-700 hover:text-white transition ease-in-out duration-150 text-nowrap">
                                            <td class="py-2 px-4 border-b border-gray-700">{{ transaction.id }}</td>
                                            <td class="py-2 px-4 border-b border-gray-700">{{ transaction.username }}</td>
                                            <td class="py-2 px-4 border-b border-gray-700">{{ transaction.movie }}</td>
                                            <td class="py-2 px-4 border-b border-gray-700">{{ transaction.date }}</td>
                                            <td class="py-2 px-4 border-b border-gray-700">{{ transaction.quantity }}</td>
                                            <td class="py-2 px-4 border-b border-gray-700">Rp {{ transaction.total_price }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="py-2 px-4 bg-gray-700 text-gray-200 text-right">Total :</td>
                                            <td class="py-2 px-4 bg-gray-700 text-gray-200">Rp {{ total_sum }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/415c686b7f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='session.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_main.js') }}"></script>


</body>
</html>